doctype html
html
head
title= "EPMS"
link(rel='stylesheet', href='/css/style.css')

link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Droid+Sans')
link(
rel='stylesheet',
href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css',
integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==',
crossorigin='anonymous')

link(
rel='stylesheet',
href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css',
integrity='sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX',
crossorigin='anonymous')

link(
rel ='stylesheet',
href='https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css')

link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
link(rel='stylesheet', href='/css/Layout.css')
link(rel='stylesheet', href='/css/Body.css')

block head_content

body.body

script(
type='text/javascript',
href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js',
integrity='sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==',
crossorigin='anonymous')

script(
type ='text/javascript'
href='https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js')

script(
type='text/javascript',
src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')

script(
type='text/javascript',
src='http:////code.jquery.com/jquery-1.11.3.min.js')

script(
type='text/javascript',
src='https://cdn.socket.io/socket.io-1.3.7.js')

#dvMainContainer
    #dvContainerHeader.page-header.lead.text-center.header(style="padding-top:10px")
        h1  Emergency Preparedness And Management System
    block content
block body_end
